<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    a{
        display: block;
    }
    </style>
</head>
<script src="./js/vue.js"></script>
<body>
    <div id="app">
        <ul>
            <li v-for="(val,index) in arr">{{val}} _ {{index}}</li>
        </ul>
        <hr>
        <ul>
            <!-- <li v-for="val in arr2">{{val.id}}/{{val.name}}</li> -->
            <li v-for="val of arr2">{{val.id}}/{{val.name}}</li>
        </ul>
        <hr>
        <ul>
            <li v-for="val in arr3">
                {{val.id}}/{{val.name}}
                <ul>
                    <li v-for="xx in val.children">
                        {{xx.id}} -.- {{xx.name}}
                    </li>
                </ul>
            </li>
        </ul>
        <hr>
        <div v-for="xy in json">{{xy}}</div>
        <hr>
        <a href="#" v-for="page in num">{{page}}</a>
        <hr>
        <!-- <ul>
            <li v-for="n in string"></li>
        </ul> -->
    </div>
    <script>
        // console.log("vue",Vue);
        let vm=new Vue({
            el:"#app",
            data:{
                title:"标题",
                arr:["apple","banana","orange","pear"],
                arr2:[
                    {id:1,name:"alex1"},
                    {id:2,name:"alex2"},
                    {id:3,name:"alex3"}
                ],
                arr3:[
                    {id:1,name:"alex1"},
                    {id:2,name:"alex2",children:[
                        {id:1,name:"ox"},
                        {id:2,name:"op"}
                    ]},
                    {id:3,name:"alex3"}
                ],
                json:{a:1,b:2},
                num:10,
                // string:"string"
            },
            
        })
    </script>
</body>
</html>